.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-arrow.slick-next {
  right: -55px;
}
.slick-arrow.slick-prev {
  left: -55px;
}